@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  color: #183153;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
}

.sectionContainer {
  background-image: radial-gradient(rgba(24, 49, 83, .1) 20%, #ffffff 20%);
  background-position: 0 0;
  background-size: 10px 10px;
  height: 100%;
  width: 100%;
}

.section, .inactiveSection {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  margin: 8px 10px 8px 0;
  border-radius: 0 15px 15px 0;
  padding: 5px;
  background-color: white;
  align-items: center;
  font-weight: 700;
  border-top: 1px solid #183153;
  border-right: 3px solid #183153;
  border-bottom: 3px solid #183153;
}

.section:hover, .inactiveSection:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: left;
  left: 0;
  transition: .15s;
  background-color: #ffd43b;
}

.inactiveSection {
  grid-template-columns: 90% 10%;
}

.faIcon {
  display: block;
  border: none;
  padding: .5rem;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.25rem;
  display: grid;
  place-items: center;
  background-color: #183153;
  color: #ffd43b;
  transition: .1s;
}

.faIcon:hover {
  cursor: pointer;
  background-color: #ffd43b;
  color: #183153;
  transform: scale(1.2);
}

.divider {
  margin-top: 3rem;
}

.selected {
  background-color: #fab003
}

.outputToggle {
  border: 1px solid #183153;
  border-right: 3px solid #183153;
  border-bottom: 3px solid #183153;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: white;
  margin: .5rem;
  font-weight: 700;
  color: #183153;
  font-family: inherit;
  font-size: 1rem;
}

.outputToggle:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .2s;
  background-color: #ffd43b;
}

.outputToggleSelected {
  background-color: #fab003;
}